html{
    /* impedindo a barra de scroll de aparecer*/
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
     /* adicionando imagem de fundo */
     margin: 0;
    
     background-image: url(/assets/fundo_landingpage_borrado.jpg);
 
     background-size: cover;
     
     background-repeat: no-repeat;
     
 }

#btn-login{
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--texto-claro); /* cor da fonte */
    background-color: var(--roxo); /* cor customizada localizada no style.css, dá uma olhada lá */
    text-align: center;
    position: relative;
    border: none;
    font-size: 16px;
    transition: 0.5s;

}
#btn-login:hover{
    background-color: var(--roxo-claro);
}
#btn-login:active{
    background-color: var(--roxo-escuro)
}