html {
    /* impedindo a barra de scroll de aparecer*/
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    /* adicionando imagem de fundo */
    margin: 0;

    background-image: url(/assets/fundo_landingpage_borrado.jpg);

    background-size: cover;

    background-repeat: no-repeat;

}

#btn-login {

    position: relative;
    margin-right: 10px;
    font-size: 16px;

}

#btn-cadastro {

    font-size: 16px;
    margin: 20px 20px;

}

.introducao {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin-top: 20%;
    margin-left: 100px;
    color: white;
    
}

#logo-introducao{
    height: 100px;
}
#texto-introducao{
    font-size: 20px;
    margin-left: 20px;
}