/********************** SETUP ************************/
:root {
    --azul-escuro-fundo: #1F264B;

    /* só pra gente poder mudar a cor do texto aqui */
    --texto-claro: #FFFFFF;
    --texto-escuro: #000000;

    /* cores dos botões */
    --roxo-claro: #ba8fff;
    --roxo: #8f49ff;
    --roxo-escuro: #5625a5;


}

@font-face {
    /* Adicionando a fonte Montserrat */
    font-family: Montserrat;
    src: url(../fontes/Montserrat-VariableFont_wght.ttf);

}

* {

    font-family: 'Montserrat';

}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    background-color: #f1f2ea;

}

main {
    display: flex;
}

/*****************************************************/

/********************* BOTÕES ************************/
.btn-primario {

    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--texto-claro);
    /* cor da fonte */
    background-color: var(--roxo);
    /* cor customizada localizada no style.css, dá uma olhada lá */
    text-align: center;
    border: none;
    transition: 0.1s;
}

.btn-primario:hover {

    background-color: var(--roxo-claro);
    color: var(--texto-claro);

}

.btn-primario:active {
    background-color: var(--roxo-escuro);
    color: var(--texto-claro);

}

/*****************************************************/

/****************** CENTRALIZADOR ********************/

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*****************************************************/

/******************** NAVBAR *************************/
nav {
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    /* ^^^^ ESSA LINHA CENTRALIZA TODOS OS ITENS DA NAVBAR NO MEIO */
    padding: 20px;
    width: 100%;
    
}

.nav-transparente{
    background-color: rgba(255,255,255,0);
}
.nav-primaria{
    background-color: var(--azul-escuro-fundo);
}

.lado-esquerdo{
    margin-right: auto;
}
.lado-direito{
    margin-left: auto;
}


nav a {

    color: white;
    text-decoration: none;
    position: fixed;
    right: 3vh;
    font-size: 2vh;

}

nav a:hover {
    transition: 0.6s;
    color: #939BE2;

}

nav .logo {
    height: 40px;
    object-fit: fill;
}

/*****************************************************/

/******************** SCROLLBAR **********************/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
}

/*****************************************************/

/********************* FOOTER ************************/
footer {
    position: static;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 10vh;
    bottom: 0;
    background-color: #292944;
    color: #FFF;
    width: 100%;
    height: 100%;
    text-align: center;
}

.link-container {
    justify-content: center;
}

.r-Social-icon {
    margin-right: 1vh;
}

#imgPhoto-footer {
    margin-top: 1.5vh;
    width: 20vh;
}

#meio-footer {
    margin-left: 50vh;
}

#dir-footer {
    margin-left: 50vh;
}

#t-footer {
    color: #edb700;
}

#r-Social {
    text-decoration: none;
    color: white;
}

#r-Social:hover {
    color: gray;
    transition: 0.3s;
}

/*****************************************************/