


#card{
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px 1px #0000007b;
    background-color: #D9D9D9;
    padding: 5vh 5vh 5vh 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 85vh;   
    margin-bottom: 5vh;
    border-radius: 15px;

}
.escritaCadastro{
    margin-top: 10vh;
}












