

body {
    /* adicionando imagem de fundo */
    margin: 0;
    
    background-image: linear-gradient(to bottom, transparent 0%, #504f4faa 0%), url(../assets/HotelBelaVista.jpg);

    background-size: cover;
    
    background-repeat: no-repeat;
    
}

#overlay{
    background-color: rgba(95, 95, 95, 0.562);
    width: 100%;
    height: 100%;
}
#login-h1{
    color: var(--texto-claro);
    font-size: 3vh;
    font-weight: bolder;
    margin: 10vh 0vh;
}


#overlay {
    background-color: rgba(95, 95, 95, 0.5);
    width: 100%;
    height: 100%;
}


.cartao {

    box-sizing: border-box;
    box-shadow: 0px 6px 10px 1px #0000007b;
    background-color: var(--azul-escuro-fundo);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    padding: 5vh;
    border-radius: 15px;

}
.cartao::placeholder{
    color: var(--azul-escuro-fundo);

}

input {

    width: 89%;
    background-color: var(--azul-desbotado-fundo);
    margin-top: 3vh;
    padding: 2vh;
    border-radius: 20px;
    border: none;
    font-size: 1.5vh;

}

#confirmar {
    position: fixed;
    left: 25%;
    background-color: rgba(41, 41, 68, 1);
    border-radius: 100px;
    margin-top: 5vh;
    border: none;
    padding: 2vh;
    width: 50%;
    color: white;
    font-size: 1.5vh;
}

#confirmar:hover {
    
    background-color: #292944;
    color: white;
    cursor: pointer;
}
#confirmar{
    background-color: #292944;
}

.esq-a-senha{
    text-decoration: none;
    font-size: 1.5vh;
    margin-top: 6vh;
    position: fixed;
    left: 35%;
    top: 70%;    
}
.esq-a-senha:hover{
    transition: 0.1;
    color: #00b6ca;

}