@font-face { /* Adicionando a fonte Montserrat */
    font-family: Montserrat;
    src: url(../fonte/Montserrat-VariableFont_wght.ttf);

}
body{
    margin: 0%;
    background-color: #F2F1EA;
   
}


* {

    font-family: 'Montserrat';

}

html {
    height: 100%;
}

/* reaproveitei o header do outro código para não ocorer o problema de estart diferente */

header {
    position: fixed;
    display: flex;
    align-items: center;
    /* ^^^^ ESSA LINHA CENTRALIZA TODOS OS ITENS DO HEADER NO MEIO */
    padding: 1vh;
    width: 100%;
    background-color: #292944;
}

header a {

    color: #edb700;
    text-decoration: none;
    position: fixed;
    right: 3vh;
    font-size: 2vh;

}
header a:hover{
    transition: 0.6;
    color:white;

}

header img {
    height: 19%;
    width: 14%;
    object-fit: fill;
}

#cartao-01{
    box-sizing: border-box;
    box-shadow: 0px 6px 10px 1px #0000007b;
    background-color: #D9D9D9;
    position: absolute;
    top: 60.5%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 130vh;
    height: 75vh;
    padding: 4vh;
    border-radius: 15px;

}
#cartao-02{
    box-sizing: border-box;
    box-shadow: 0px 6px 10px 1px #0000007b;
    background-color: #D9D9D9;
    position: absolute;
    top: 75%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 46vh;
    padding: 2vh;
    border-radius: 15px;
}
#cartao-01 span{
    color:#292944; 
    font-size: x-large;
}
#btn-relatorio{
    position: fixed;
    left: 4%;
    background-color: #b1acac;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35vh;
    border: none;
    padding: 2vh;
    width: 40%;
    color: #292944;
    font-size: 4vh;
}

#btn-informacoes{
    position: fixed;
    
    left: 57%;
    background-color: #b1acac;
    border-radius: 5px;
    margin-top: 35vh;
    border: none;
    padding: 2vh;
    width: 40%;
    color: #292944;
    font-size: 4vh;
}

#btn-relatorio:hover{

    background-color: #5F5F5F33;
    
    cursor: pointer;
}

#imagem-usuario{
    position:absolute;
    top:0%;
    padding: 0.5vh;
    left: 10%;
}

input[type='file']{
    display: none;
}

.max-width{
    max-width: 50%;
}
#imgPhoto{
    position: relative;
    left: 7%;
    margin-top: 15%;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border:1px  black;
    border-radius: 80%;
    cursor: pointer;
    transition: background.3s;
}

#imgPhoto:hover{
background-color: white;
border: 1px black;
}